* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  * body {
    background-image: url(https://st4.depositphotos.com/1826945/22005/v/450/depositphotos_220057328-stock-illustration-spider-web-cobweb-on-red.jpg);
    /* Cambia por el nombre correcto de mi imagen */
    background-size: cover;
    /* Para que la imagen cubra toda la pantalla */
    background-position: center;
    /* Centra la imagen */
  }
  #SiNo {
    opacity: 70%;
    display: block;
    position: fixed;
    top: 0;
    left: 46%;
    /* Centra el cuadro horizontalmente */
    background-color: white;
    border: 5px solid darkred;
    text-align: center;
    font-family: 'Bangers', cursive;
  }
  .Ini1 {
    width: 300px;
    height: 250px;
    margin-left: auto;
    /* Ajusta automáticamente el margen izquierdo */
    margin-right: 20px;
    /* Ajusta automáticamente el margen derecho */
  }
  .Ini1:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0);
  }
  .Ini2 {
    width: 300px;
    height: 250px;
    margin-left: auto;
    /* Ajusta automáticamente el margen izquierdo */
    margin-right: auto;
    /* Ajusta automáticamente el margen derecho */
  }
  .Ini2:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0);
  }
  .Ini3 {
    width: 300px;
    height: 250px;
    margin-left: auto;
    /* Ajusta automáticamente el margen izquierdo */
    margin-right: auto;
    /* Ajusta automáticamente el margen derecho */
  }
  .Ini3:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0);
  }
  .Ini4 {
    width: 300px;
    height: 250px;
    margin-left: 100px;
    /* Ajusta automáticamente el margen izquierdo */
    margin-right: auto;
    /* Ajusta automáticamente el margen derecho */
  }
  .Ini4:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0);
  }
  #contenedor1 {
    text-align: justify;
    background-color: gold;
    border: 5px solid black;
    margin-bottom: 35px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-family: 'Bangers', cursive;
  }
  #contenedor1 h1 {
    background-color: blue;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    padding: 10px;
    border: 10px solid red;
    margin: 30px;
    text-align: center;
  }
  #contenedor1 button {
    display: inline;
    font-family: 'Bangers', cursive;
  }
  #contenedor2 {
    text-align: justify;
    background-color: wheat;
    border: 5px solid black;
    margin-bottom: 35px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-family: 'Bangers', cursive;
  }
  #contenedor3 {
    text-align: justify;
    background-color: gold;
    border: 5px solid black;
    margin-bottom: 35px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-family: 'Bangers', cursive;
  }
  #contenedor4 {
    text-align: justify;
    background-color: wheat;
    border: 5px solid black;
    margin-bottom: 35px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-family: 'Bangers', cursive;
  }
  #contenedor5 {
    text-align: justify;
    background-color: gold;
    border: 5px solid black;
    margin-bottom: 35px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-family: 'Bangers', cursive;
  }
  .PrimeraIma {
    width: 370px;
    height: 420px;
    float: inline-start;
    border: 5px solid black;
    margin-right: 10px;
  }
  .SegundaIma {
    width: 350px;
    height: 290px;
    float: inline-end;
    border: 5px solid black;
    margin-left: 10px;
  }
  .TerceraIma {
    width: 350px;
    height: 560px;
    float: inline-start;
    border: 5px solid black;
    margin-right: 10px;
  }
  .CuartaIma {
    width: 350px;
    height: 290px;
    float: inline-end;
    border: 5px solid black;
    margin-left: 10px;
  }
  .QuintaIma {
    width: 400px;
    height: 605px;
    float: inline-start;
    border: 5px solid black;
    margin-right: 10px;
  }
  .subTit {
    text-align: center;
  }
  .Final {
    background-color: blue;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    padding: 10px;
    border: 10px solid red;
    margin: 30px;
    text-align: center;
  }
  .ImagenFinal {
    width: 500px;
    height: 500px;
    display: block;
    margin-left: 35%;
    /* Ajusta automáticamente el margen izquierdo */
    margin-right: auto;
    /* Ajusta automáticamente el margen derecho */
  }
  